//Article

@media handheld, only screen and (max-width: 767px) {
	#main-content .container .hb-main-content.col-9 {
	    width: 100%!important;
	    padding-left: 0!important;
	    padding-right: 0!important;
	    border-left: none!important;
	    border-right: none!important;
	    margin-top: 0!important;
	}
	#main-content .container .hb-sidebar {
	    width: 100%!important;
	    border-right: none!important;
	    border-left: none!important;
	    padding-left: 0!important;
	    padding-right: 0!important;
	    margin-bottom: 50px!important;
	    margin-top: 50px!important;
	}
	.float-right .share-holder {
	    display: block!important;
	    
	    .post-header & {
	    	margin-top:0;
	    }
	}
}