/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

#main-nav > li > a > span {
  top: 10px;
}
#main-nav > li#nav-search {
    margin-top:3px;
}
#main-nav li a i {
  margin-top: 17px !important;
}