/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$purple : #5d3e8e;
$grey : #707070;
$grey-2 : #969696;
$grey-lt : #e5e5e5;
$grey-dark : #383535;
$grey-dark-2 : #626363;
$white : #fff;
$black : #000;
$black-lt : #323436;

$dim : rgba(0,0,0,0.5);
$dimmer : rgba(0,0,0,0.8);

$error : #f00;
$valid : #089e00;

//Typography

$font : "PT Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titlefont : "Akhand", Impact, Charcoal, sans-serif;

$font-size-norm : 1em;
$font-size-slightly-larger : 1.0625em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.875em;
$font-size-large : 1.4375em;

//Layout
$max-width: 1020px;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

$padpx : 20px;
$padpx-half : $padpx/2;
$padpx-and-half : $padpx*1.5;
$padpx-double : $padpx*2;
$padpx-dub-half : $padpx*2.5;
$padpx-triple : $padpx*3;
$padpx-quad : $padpx*4;
$padpx-quarter :$padpx/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 767px;
$bp-med-2 : 35em;

$bp-large : 1024px;
$bp-full : 1200px;

$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

//