/* Text-Related Elements */ 
#main-content .entry-content {
	ul li, ol li {
	  text-indent: -1em;
	  padding-left: 1em;
	  margin-bottom:.25em;
	}
}
.rev_slider .Taboo-title {
	
	font-family: "Lato", sans-serif;
	  font-size: 32px;
	  line-height: 40px;
	  letter-spacing: 1px;
	  font-weight: 300;

}

h4, h5, h6 {
    text-transform: uppercase;
}